
*.spec
*.toc
*.pyc
*.zip
*.manifest
*.pkg
*.pyz
build/COHOpponentBot/warn-COHOpponentBot.txt
data.json
IRCOpponent_Temp_ERROR.log

player1.txt
player0.txt
build/COHOpponentBot/xref-COHOpponentBot.html

test.py
player2.txt
player3.txt
