
*.spec
*.toc
*.pyc
*.zip
*.manifest
*.pkg
*.pyz
build/COHOpponentBot/warn-COHOpponentBot.txt
data.json
IRCOpponent_Temp_ERROR.log

player1.txt
player0.txt
build/COHOpponentBot/xref-COHOpponentBot.html

test.py
player2.txt
player3.txt
playerNone.txt
overlay.html
overlay.html
overlay.html
overlay.html
dist/overlaystyle.css
overlay.html
test2.py
test3.py
replayReader.py
dist/COHOpponentBot.exe
test4.py
COH_Opponent_Bot.log
COHOpponentBot_1.pyo
decoding the relic replay file.txt
icon.pyo
IRCBetBot_Parameters.pyo
overlayTemplates.pyo
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/settings.json
data.jsonbak
overlay.html
dist
TODO.txt
build2.bat
build/COHOpponentBot/pyimod00_crypto_key.py
